.filter-checkbox {
    padding-top: 34px;
    align-items: center;
    display: flex;
    gap: 15px;
}

.filter-checkbox__wrapper {
    
}

.filter-checkbox__invisible-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: inset(0 0 0 0);
}

.filter-checkbox__invisible-checkbox + .filter-checkbox__visible-checkbox-wrapper {
    width: 34px;
    height: 14px;
    border-radius: 20px;
    display: block;
    position: relative;
}

.filter-checkbox__invisible-checkbox:checked + .filter-checkbox__visible-checkbox-wrapper {
    background: #2BE080;
}

.filter-checkbox__invisible-checkbox:disabled + .filter-checkbox__visible-checkbox-wrapper {
    background:grey;
}

.filter-checkbox__visible-checkbox {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FFF;
    display: block;
    position: absolute;
    top: 2px;
    right: 1px;
}

.filter-checkbox__text {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.38;
}